<!DOCTYPE html>
<head>
  <title>Abhijit Pendyal</title>
  <style>
    body {
      text-align: center;
      background: url("http://imgur.com/y7Hm9.jpg"); 
      background-size: 650px 630px ;
      background-position: ;
      color: Yellow;
      font-family:comic;
    }
    p {
      position: relative;
      top: 200px;
      font-size: 50px;
    }
    input {
      border: 0;
      padding: 10px;
      font-size: 18px;
    }
    input[type="submit"] {
      background: red;
      color: white;
    }
  </style>
</head>
<body>
  <input type="textbox" placeholder="Ask me a question">
  <input type="submit">
</body>
